.about-paragraph {
    text-align: justify;
    text-indent: 30px;
}

.section-image-about {
    transform:translateZ(0);
    padding: 60px;
    text-align: center;
    background-color: #2b353b;
    background-image: -webkit-linear-gradient(270deg, rgba(43,53,59,0.7), rgba(43,53,59,0.7)),url('../img/drone.jpg');
    background-image: linear-gradient(180deg, rgba(43,53,59,0.7), rgba(43,53,59,0.7)),url('../img/drone.jpg');
    background-position: 0px 0px, 0px -10%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
    color: white;
    margin-top: $top-header-height;
}

@media (min-width: 550px) {
    .about-paragraph {
        column-count: 2;
        column-gap: 40px;
    }
}
