.section-image-campagne {
    transform:translateZ(0);
    font-weight: bold;
    padding: 86px;
    text-align: center;
    background-color: #2b353b;
    background-image: -webkit-linear-gradient(270deg, rgba(43,53,59,0.7), rgba(43,53,59,0.7)),url('../img/maison_bizet.jpg');
    background-image: linear-gradient(180deg, rgba(43,53,59,0.7), rgba(43,53,59,0.7)),url('../img/maison_bizet.jpg');
    background-position: 0px 0px, 0px 50%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
}

.carmen-quote {
    font-size: 23px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.7em;
}

.europa-logo {
    height: 200px;
    fill: white;
    background: #e40025;
    padding: 30px 20px;
    stroke-opacity: 0;
}

.cometee-member > h4 {
    -webkit-margin-after:0;
    margin-after:0;
}
