.section-image-campagne {
    color: white;
    margin-top: 60px;
    transform:translateZ(0);
    font-weight: bold;
    text-align: center;
    background-color: #2b353b;
    background-image: -webkit-linear-gradient(270deg, rgba(43,53,59,0.7), rgba(43,53,59,0.7)),url('../img/drone.jpg');
    background-image: linear-gradient(180deg, rgba(43,53,59,0.7), rgba(43,53,59,0.7)),url('../img/drone.jpg');
    background-position: 0px 0px, 0px -120px;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
}

.carmen-quote {
    font-size: 23px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.7em;
}

.europa-logo-container {
    display: block;
    padding: 45px 16px 0;
    height: 175px;
    width: 100px;
    background: #e40025;
}

.europa-logo {
    fill: white;
    stroke-opacity: 0;
}

.cometee-member > h4 {
    -webkit-margin-after:0;
    margin-after:0;
}

.tCampaignGeorgesBizetQuoteName {
    font-weight: bold;
    text-align: right;
}

.tCampaignPlacidoPrecided {
    font-size: 15px;
}

.tCampaignHonorCH, .inMemoriamH {
    text-align: center;
    margin-bottom: 50px;
}

.donorCol {
    text-align: center;
}

.actorImage {
    text-align: center;
    margin-bottom: 50px;
}

.tCampaignActorsH {
    margin-bottom: 50px;
}

/* Larger than mobile */
@media (min-width: 400px) {
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .section-image-campagne {
        margin-top: $top-header-height;
        padding: 86px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}
