@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-stack: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;

$primary-color: #333;

body {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-menu {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

.top-menu > li {
    font-size: 14px;
    padding: 10px;
}

.top-menu > li > a {
    text-decoration: none;
    color: #484848;
}

.top-header {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 23px;
    font-weight: 500;
    top: 0;
    background-color: #fff;
    width: 100%;
    min-height: 100px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: fixed;
    z-index: 1000;
}

.top-menu-logo {
    position: absolute;
    height: 150px;
    width: auto;
    top: -26px;
}

.video-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bg-video-container {
    position: relative;
    height: 30vh;
    overflow: hidden;
}

.top-nav {
    display: flex;
    align-items: center;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0!important;
    background: grey;
}

// blockquote {
//     font-style: italic;
//     padding: 8px;
//     margin: 5px;
//     background-image: url(../img/openquote1.gif);
//     background-position: top left;
//     background-repeat: no-repeat;
//     text-indent: 23px;
// }

// blockquote.style1 span {
//     display: block;
//     background-image: url(../img/closequote1.gif);
//     background-repeat: no-repeat;
//     background-position: bottom right;
// }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Passion One', cursive;
}

body, input, textarea, select {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
}
.top-menu {
    display: none;
}

section {
    padding: 50px 0;
}

.first-section {
    margin-top: 50px;
}

.top-menu > li > a {
    font-weight: bold;
}

html, body {
    height: 100%;
}

.page-rectangular-header {
    text-align: center;
    background: gainsboro;
    padding: 50px;
    margin-bottom: 100px;
}
/* Larger than mobile */
@media (min-width: 400px) {
    .top-menu {
        display: flex;
    }
    .first-section {
        margin-top: 100px;
    }
    .bg-video-container {
        height: 70vh;
    }
    .ambasadors-row {
        margin-top: 100px;
    }
    .campaign-video {
        height: 500px;
    }
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

