.wall-petal {
    // height:50px;
    // width:auto;
    // background: url(../img/petal1.svg) no-repeat;
}

input.wall-search {
  outline: 0;
  border-width: 0 0 2px 0;
  border-color: #d5324e;
}
input.wall-search:focus {
    border-color: #ff002c;
}
