<div class="bg-video-container">
    <img id="mainBgImage" alt="background" src="test.jpg" style="width: 100%;"/>
</div>
<div class="main-container">
    <section id="section1">
        <div class="container">
            <h3>À propos</h3>
            <div style="display: flex;">
                <img style="border-radius: 50%; width: 164px; height: 164px;flex:0 164px;" id="jorgeImage" alt="jorge" src=""/>
                <p style="margin: 0px 30px; flex:0 80%;">
                    Sit amet est placerat in egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam.                    Sit amet est placerat in egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam.                    Sit amet est placerat in egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam.                    Sit amet est placerat in egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam.                    Sit amet est placerat in egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam.
                </p>
            </div>
        </div>
    </section>
    <section id="section2">
        <div class="container">
            <div style="display:flex;">
                <div>
                    <img id="dart-campaign-img" alt="xxx" src="" style="height:300px; width: auto;"/>
                </div>
                <div>Exclusivité</div>
            </div>
        </div>
    </section>
    <section id="section3" style="height: 800px;">
        <div class="container">
            <video width="100%" controls>
                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </section>
    <section id="section4">
        <div class="container">
            <h3>ESPACE DANSE</h3>
            
            <p>Elise Charbonneau</p>
            <p>Director, Espace danse Campaign</p>
            <p>Director, Fundraising and Events, Les Grands Ballets Canadiens de Montréal</p>
            <p>echarbonneau@grandsballets.com</p>
            <p>514 849-8681</p>
        </div>
    </section>
</div>
