<section class="section-image-campagne">
    <div class="main-quote container">
        <blockquote>
            <p class="tCampaigneCarmenQuote carmen-quote">
                J’ai trouvé à Bougival un petit coin très tranquille au bord de l’eau. &nbsp;
                J’y vais terminer Carmen.
            </p>
        </blockquote>
        <p class="tCampaignGeorgesBizetQuoteName">Georges Bizet, printemps 1874</p>
    </div>
</section>
<section>
    <div style="display: flex; justify-content: space-between; margin: 0 30px;">
        <div style="flex: 1 40%;margin-right: 30px;">
            <h4>UN TRÉSOR PATRIMONIAL ET CULTUREL À BOUGIVAL</h4>
            <p style="text-align: justify;">
                Dans cette maison-atelier au bord de l'eau, chapelle de tant d'inspirations et de partitions novatrices, Georges Bizet a composé en partie et orchestré totalement son éternelle « Carmen » juste avant de mourir - cette émotion, nous devons la protéger pour la partager dans un musée vivant et une nouvelle résidence de créateurs du XXIe siècle.
                Étendard du CEM, l'Espace Carmen situé juste en face  offrira aux publics français et internationaux une salle polyvalente qui explorera le génie de Bizet, le génie de « Carmen » toujours à découvrir et admirer.
                
            </p>
            <a href="more_maison.html">
                <button style="background: white; color: black; border: black 1px solid;">
                    En savoir plus
                </button>
            </a>
        </div>
        <div style="flex: 1 30%; display: flex; align-items: space-between;justify-content: center;flex-wrap: wrap;">
            <img
                style="flex: 1 210px;margin: 10px 10px;"
                src="https://dartagnans-assets.s3-eu-central-1.amazonaws.com/assets/pictures/000/005/554/medium/Bizet_test_fly.jpg?1497898041"
                height=150
                width=200
            >
            <img
                style="flex: 1 210px;margin: 10px 10px;"
                src="https://dartagnans-assets.s3-eu-central-1.amazonaws.com/assets/pictures/000/005/534/medium/Capture_d%E2%80%99%C3%A9cran_2017-06-19_%C3%A0_13.41.17.png?1497873178"
                height=150
                width=200
            >
            <img
                style="flex: 1 210px;margin: 10px 10px;"
                src="https://dartagnans-assets.s3-eu-central-1.amazonaws.com/assets/pictures/000/005/545/medium/Capture_d%E2%80%99e%CC%81cran_2017-06-19_a%CC%80_20.15.30.png?1497896395"
                height=150
                width=200
            >
            <img
                style="flex: 1 210px;margin: 10px 10px;"
                src="https://dartagnans-assets.s3-eu-central-1.amazonaws.com/assets/pictures/000/005/955/medium/Capture_d%E2%80%99e%CC%81cran_2017-07-25_a%CC%80_11.12.21.png?1500974185"
                height=150
                width=200
            >
        </div>
    </div>
</section>
<section style="background: #f3f2f2;">
    <div class="container">
        <h4>L'ESSENTIEL DU PROJET</h4>
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 260px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">Le point de départ du CEM</h4>
                <p style="flex: 1;">
                    La musique est au couer du projet du CEM et symbolisée par notre première grande action:
                    sauver et restaurer la maison de Georges Bizet, génial créateur de l'opéra Carmen. 
                </p>
                <a style="display: flex;justify-content:center;" href="project.html">
                    <button style="background: white; color: black; border: black 1px solid;">
                        En savoir plus
                    </button>
                </a>
            </div>
            <div
                style="display: flex;
                       flex-direction: column;
                       justify-content: space-between;
                       width: 260px;
                       background-color: white;
                       padding: 15px;
                       height: 400px;"
            >
                <h4 style="margin-bottom: 0; flex: 0 80px;">
                    Financement participatif
                </h4>
                <p style="flex: 1; display: flex;">
                    <h8 style="margin-bottom:0;">
                        Les objectifs sont de collecter
                    </h8>
                    <ul>
                        <li>
                            900K pour l'achat de la maison
                        </li>
                        <li>
                            560K pour la restauration
                        </li>
                        <li>
                            1.540M pour l'espace carmen
                        </li>
                    </ul>
                </p>
                <a style="display: flex;justify-content:center;" href="campaigne.html">
                    <button style="background: white; color: black; border: black 1px solid;">
                        En savoir plus
                    </button>
                </a>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 260px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">La maison de Georges Bizet</h4>
                <p style="flex: 1;">
                    Menacée depuis de nombreuses années, la maison de
                    Georges Bizet est aujourd'hui au coeur du projet culturel ambitieux et pluridisciplinaire porté par le Centre Européen de Musique (CEM).
                </p>
                <a style="display: flex;justify-content:center;" href="more_maison.html">
                    <button style="background: white; color: black; border: black 1px solid;">
                        En savoir plus
                    </button>
                </a>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 260px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">
                    L'espace Carmen
                </h4>
                <p style="flex: 1;">
                    Il s'agira d'un lieu d'accueil pour les visiteurs comprenant un espace d'exposition autour du chef d'oeuvre de Bizet, un studio d'enregistrement ainsi qu'une salle de concert multifonctionnelle.
                </p>
                <a style="display: flex;justify-content:center;" href="architectural_project.html">
                    <button style="background: white; color: black; border: black 1px solid;">
                        En savoir plus
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
<section style="display: flex;justify-content: space-between; align-items: center;flex-wrap: wrap;">
    <div style="margin-bottom: 20px;" class="container">
        <h4>La campagne en chiffres</h4>
    </div>
    <div style="display: flex;justify-content: center; align-items: center;width:100%;">
        <div style="flex: 1;display: flex;flex-direction: column;align-items: center;">
            <h1 id="projectCollected" style="margin-bottom: 0;color:#3a9456">??? ??? €</h1>
            <h5>Collectés sur <span id="projectGoal">1 100 000</span> €</h5>
        </div>
        <div style="flex: 1;display: flex;flex-direction: column;align-items: center;">
            <h1 id="ncontributors" style="margin-bottom: 0;">????</h1>
            <h5>Contributeurs</h5>
        </div>
        <div style="flex: 1;display: flex;flex-direction: column;align-items: center;">
            <h1 id="daysLeft" style="margin-bottom: 0;">????</h1>
            <h5>Jours restants</h5>
        </div>
    </div>
    <script>
     (function () {
         var goal = document.getElementById('projectGoal');
         var collected = document.getElementById('projectCollected');
         var ncontributors = document.getElementById('ncontributors');
         var daysLeft = document.getElementById('daysLeft');
         fetch('https://dartagnans.fr/carmen-info')
             .then(function (r) {
                 r.json().then(function(json) {
                     collected.innerHTML = json.collected + ' €';
                     goal.innerHTML = json.goal;
                     ncontributors.innerHTML = json.nContrib;
                     daysLeft.innerHTML = json.daysLeft;
                 });
             })
             .catch()
     })()
    </script>
    <a style="width: 100%;display: flex;justify-content: center; align-items: center;margin-top: 50px;" class="discover-link" href="https://dartagnans.fr/fr/projects/carmen-la-maison-de-georges-bizet/campaign">
        <button class="tDonateButton home-donate-big-btn">
            <h4 style="display: flex;justify-content: center;align-items: center;margin-bottom: 0;">Faire un don</h4>
        </button>
    </a>
</section>
