<section class="section-image-about">
    <div class="main-quote container">
        <blockquote>
            <p class="tCampaigneCarmenQuote carmen-quote">
                J’ai trouvé à Bougival un petit coin très tranquille au bord de l’eau. &nbsp;
                J’y vais terminer Carmen.
            </p>
        </blockquote>
        <p class="tCampaignGeorgesBizetQuoteName">Georges Bizet, printemps 1874</p>
    </div>
</section>
<section>
    <div style="display: flex; justify-content: space-between; margin: 0 30px;">
        <div style="flex: 1 40%">
            <h4>Viverra ipsum nunc aliquet bibendum enim, facilisis gravida neque convallis?</h4>
            <p>
                Adipiscing commodo elit, at imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis urna, id volutpat lacus laoreet non curabitur gravida arcu ac tortor? Sit amet justo donec enim.
                Adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis? In aliquam sem fringilla ut morbi tincidunt augue!
            </p>
            <p>
                Pretium aenean pharetra, magna ac placerat vestibulum, lectus mauris ultrices eros, in cursus turpis massa tincidunt dui ut ornare lectus. Aenean pharetra, magna ac placerat vestibulum, lectus mauris ultrices eros!
                Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque habitant morbi tristique senectus et netus. Sit amet, dictum sit amet justo donec enim diam, vulputate ut pharetra sit amet, aliquam!
            </p>
            <button style="background: white; color: black; border: black 1px solid;">
                En savoir plus
            </button>
        </div>
        <div style="flex: 1 30%; display: flex; align-items: space-between;justify-content: center;flex-wrap: wrap;">
            <img style="flex: 1 210px;margin: 10px 10px;" src="http://via.placeholder.com/200x100">
            <img style="flex: 1 210px;margin: 10px 10px;" src="http://via.placeholder.com/200x100">
            <img style="flex: 1 210px;margin: 10px 10px;" src="http://via.placeholder.com/200x100">
            <img style="flex: 1 210px;margin: 10px 10px;" src="http://via.placeholder.com/200x100">
        </div>
    </div>
</section>
<section style="background: #f3f2f2;">
    <div class="container">
        <h4>L'ESSENTIEL DU PROJET</h4>
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 260px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">Le point de départ du CEM</h4>
                <p style="flex: 1;">
                    la musique est au couer du projet du CEM et symbolisée par notre première grande action:
                    sauver et restaurer la maison de Georges Bizet, génial créateur de l'opéra Carmen. 
                </p>
                <button style="background: white; color: black; border: black 1px solid;">
                    En savoir plus
                </button>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 260px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">Financement paricipatif</h4>
                <p style="flex: 1;">
                    <h10>les objectifs sont de collecter:</h10>
                    <ul>
                        <li>900k pour l'achat de la maison</li>
                        <li>560k pour la restauration</li>
                        <li>560k pour la restauration</li>
                        <li>1.540M pour l'espace carmen</li>
                    </ul>
                </p>
                  <button style="background: white; color: black; border: black 1px solid;margin-top: -50px;">
                    En savoir plus
                </button>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 260px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">La maison de Georges Bizet</h4>
                <p style="flex: 1;">
                    Un lieu de recherche sur la musique et sur les domaines en relation avec celle-ci:
                    littérature, neurologie, orthophonie, autisme...
                </p>
                  <button style="background: white; color: black; border: black 1px solid;">
                    En savoir plus
                </button>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 260px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">
                    L'espace Carmen
                </h4>
                <p style="flex: 1;">
                    A bougival, les grands esprits et créateurs de génie ont puisé leur inspiration.
                    Leur présence est ajourd'hui symbolisé par la maison de Georges Bizet, le Domaine des Frênes
                    et la coline des impresionistes.
                </p>
                  <button style="background: white; color: black; border: black 1px solid;">
                    En savoir plus
                </button>
            </div>
        </div>
    </div>
</section>
<section style="display: flex;justify-content: space-between; align-items: center;flex-wrap: wrap;">
    <div style="display: flex;justify-content: center; align-items: center;width:100%;">
        <div style="flex: 1;display: flex;flex-direction: column;align-items: center;">
            <h1 style="margin-bottom: 0;color:#3a9456">23 916€</h1>
            <h5>Collectés sur 1 100 000€</h5>
        </div>
        <div style="flex: 1;display: flex;flex-direction: column;align-items: center;">
            <h1 style="margin-bottom: 0;">149</h1>
            <h5>Contributeurs</h5>
        </div>
        <div style="flex: 1;display: flex;flex-direction: column;align-items: center;">
            <h1 style="margin-bottom: 0;">185</h1>
            <h5>Jours restants</h5>
        </div>
    </div>
    <a style="width: 100%;display: flex;justify-content: center; align-items: center;margin-top: 50px;" class="discover-link" href="https://dartagnans.fr/fr/projects/carmen-la-maison-de-georges-bizet/campaign">
        <button class="tDonateButton home-donate-big-btn">
            <h4 style="display: flex;justify-content: center;align-items: center;margin-bottom: 0;">Faites un don</h4>
        </button>
    </a>
</section>
