<section class="section-image-about" style="color: white;margin-top: 130px;">
    <h1 class="tTheProject" style="letter-spacing:1px;font-size: 70px;">Le projet</h1>
    <!-- <h1 style="letter-spacing:1px;">Le projet du Centre Européen de Musique </h1> -->
</section>
<section>
    <div class="container">
        <h1 class="tAboutH">Un trésor patrimonial et culturel de la ville de Bougival</h1>
        <img id="maison-about" alt="" src="" style="margin-bottom: 20px;"/>
        <p class="tAboutInspired" style="text-align: justify;">
            Inspiré par le projet créé et défendu par l’association des amis de Georges Bizet et l’association du CEM et consciente de la valeur exceptionnelle de ce patrimoine, la ville de Bougival une stratégie globale de sauvegarde des principaux sites et de leur mise en valeur.
        </p>
        <h3 class="tAboutHouseGBH">La maison de Georges Bizet</h3>
        <p class="tAboutHouseGBP about-paragraph">
            Dans laquelle le compositeur écrivit et orchestra son œuvre la plus connue, Carmen, au cours de l’année 1874. Créée en 1875 à l’Opéra-Comique à Paris, trois mois avant la disparition du compositeur, Carmen deviendra un des opéras les plus célèbres et les plus représentés au monde. 
Ouverte ponctuellement au public depuis 2010, la maison de Georges Bizet invite les visiteurs à une véritable plongée dans une atmosphère hors du temps qui donne une idée précise des lieux d’habitation et de création de l’époque romantique. 
            Bizet était par ailleurs très proche de Pauline Viardot, dont il fut voisin à Paris et à Bougival, qui défendit avec ardeur la partition de Carmen dès la mort du compositeur. Comme Brahms, puis, quelques années plus tard, Tchaïkovski, Nietzsche et Mahler, elle contribua ainsi à la reconnaissance de Carmen comme l'un des plus grands chefs-d’œuvre de l’art lyrique.
        </p>
        <h2 class="tAboutFrenesH" >Le Domaine des Frênes</h2>
        <p class="tAboutFrenesP about-paragraph">
            Charmé par la magie des lieux, Jorge Chaminé, baryton et pédagogue reconnu, fondateur des Amis de Georges Bizet organisa dès 2000 dans ce lieu, où sont réunies les maisons de Pauline Viardot et d’Ivan Tourgueniev, une série de masterclasses publiques. En 2008 il créa un festival et invita dès cette même année la grande mezzo-soprano espagnole Teresa Berganza pour des masterclasses annuelles, permettant à de jeunes chanteurs à l’orée de leur carrière de bénéficier de l’enseignement de cette immense cantatrice. La Berganza, mozartienne et rossinienne hors-pair, incarna également, dans les années 80 le rôle-titre de Carmen dans une interprétation légendaire aux côtés de Plácido Domingo sous la direction de Claudio Abbado. 
            Teresa Berganza, présidente de l’Association des Amis de Georges Bizet depuis 2015, sera présente cette année, du 11 au 18 juin, pour une série de masterclasses autour du Barbier de Séville de Rossini.
        </p>
        <h3 class="tAboutViardotH">La Villa Viardot</h3>
        <p class="tAboutViardotP about-paragraph">
            Où vécut Pauline Viardot (1821-1910), illustre cantatrice, interprète notamment des opéras de Rossini, Berlioz, Meyerbeer et Gounod, sœur de la Malibran et grande gure de la vie culturelle de l’époque. 
Personnalité riche et charismatique, Pauline Viardot traversa tout le XIXe siècle (elle connut à la fois Da Ponte - le librettiste de Mozart - et Stravinsky !) et mena une carrière prestigieuse à travers le monde. Femme de lettres et de culture, compositrice de talent, elle animait à ses domiciles, à Paris, Bougival et Baden-Baden, les salons les plus en vogue, où elle recevait des artistes et des intellectuels venus de l’Europe entière. 
            Amie de Liszt, de George Sand et de Tourgueniev entre autres, elle séjournait régulièrement à Bougival, dans cette ravissante folie de style Directoire construite en 1830.
        </p>
        <img id="villa-about" alt="" src="" style="margin-top: 20px;margin-bottom: 20px;"/>
        <h3 class="tAboutDatchaH" >La Datcha de Tourgueniev</h3>        

        <p class="tAboutDatchaP about-paragraph">
            Datcha que l’écrivain russe, épris de Pauline Viardot et ami du couple Viardot, fit construire en 1874 et où il reçut notamment Flaubert, Hugo, Maupassant et Zola. Il y écrivit quelques unes de ses œuvres les plus célèbres et y mourut, dans les bras de Pauline Viardot, en 1883. 
            Transformé en musée Tourgueniev depuis 1983, ce lieu intime est encore meublé comme il l’était du vivant de son propriétaire, grâce au remarquable engagement de Tamara et Alexandre Zviguilsky, grands experts de Tourgueniev et fondateurs de l’Association des Amis d’Ivan Tourgueniev.
        </p>
        <div style="display:flex;justify-content: center; align-items:center;">
            <img id="datcha-about" alt="" src="" style="margin-top: 20px;margin-bottom: 20px;height: auto;" height=600/>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="column">
            <h2 class="tAboutHouseBMH">La maison de Berthe Morisot</h2>
            <p class="tAboutHouseBMP about-paragraph">
            Où l’artiste séjourna et vécut dans les années 1880. Elle y peignit plusieurs tableaux majeurs : la Fable , Eugène Manet et sa fille dans le jardin, Dans la Véranda, Jardin à Bougival, immortalisant ainsi la commune de Bougival, devenue l'un des lieux emblématiques de la peinture impressionniste, représentée dans de nombreux tableaux.
            </p>
            </div>
        </div>
    </div>
</section>
<section style="background: #fafafa;">
    <div class="container">
        <h1 class="tAboutCEMH" style="text-align: center;">Le projet du Centre Européen de Musique </h1>
        <p class="tAboutCEMP1">Menacé depuis de nombreuses années, le site est aujourd’hui au cœur d’un projet culturel ambitieux et pluridisciplinaire conçu par Jorge Chaminé : le Centre Européen de Musique (CEM) de Bougival, projet que le baryton défend et porte avec passion depuis une dizaine d’années et dont l’ouverture est prévue pour 2022.</p>
        <p class="tAboutCEMP2 about-paragraph">
            Projet créé et mené depuis 17 ans par Jorge Chaminé président du CEM. Intégrées dans un parc paysager spécialement réaménagé pour la circonstance, les maisons de Bizet, Pauline Viardot, Tourgueniev et Berthe Morisot seront les piliers du nouvel espace culturel de la ville de Bougival : Le Centre Européen de Musique (CEM), lieu vivant, moderne, tourné vers l’avenir et porteur des valeurs humanistes emblématiques de la culture européenne. 
            Ancré dans une des périodes artistiques les plus fécondes de l’histoire de l’art, le CEM sera à la fois un lieu de patrimoine célébrant les artistes de l’époque romantique mais également une académie musicale accueillant de jeunes artistes en formation. 
            Il ouvrira ses portes au public, grâce à une programmation événementielle de qualité (concerts, conférences, masterclasses publiques...). 
            Outre la programmation, son objectif est de s’afirmer dès son inauguration comme un lieu transversal de référence et d’étude sur la musique du XIXe, ouvert également à d’autres disciplines (littérature, arts visuels, histoire, philosophie, théâtre...). 
            Lieu de transmission, de résidence et d’échange, il a vocation à devenir également un centre de recherche sur les neurosciences et plus particulièrement sur les liens entre musique et cerveau. Il prévoit ainsi d’inviter régulièrement des neuroscientifiques travaillant notamment sur le rôle moteur particulièrement puissant que la musique peut jouer dans l’assimilation des connaissances générales et dans le traitement de certaines pathologies, l’autisme notamment. 
        </p>
    </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <a class="discover-link" href="https://dartagnans.fr/fr/projects/carmen-la-maison-de-georges-bizet/campaign">
                <button class="tDonateButton" >Donnez Maintenant</button>
            </a>
    </div>
</section>
