<section style="margin-top: 130px;" class="container">
    <h3>PROJET ARCHITECTURAL</h3>
    <img alt="" src="https://dartagnans.fr/arch00.png"/>
    <img alt="" src="https://dartagnans.fr/arch00r.png"/>
    <img alt="" src="https://dartagnans.fr/arch1.png"/>
    <img alt="" src="https://dartagnans.fr/arch2.png"/>
    <img alt="" src="https://dartagnans.fr/arch3.png"/>
    <img alt="" src="https://dartagnans.fr/arch4.png"/>
    <img alt="" src="https://dartagnans.fr/arch5.png"/>
</section>
