<section style="margin-top: 130px;display: flex;flex-wrap: wrap;" class="container">
    <h3 style="flex: 0 100%;" >PROJET ARCHITECTURAL</h3>
    <img style="flex: 0 50%;" alt="" src="https://dartagnans.fr/arch00.png"/>
    <img style="flex: 0 50%;" alt="" src="https://dartagnans.fr/arch00r.png"/>
    <img style="flex: 0 50%;" alt="" src="https://dartagnans.fr/arch1.png"/>
    <img style="flex: 0 50%;" alt="" src="https://dartagnans.fr/arch2.png"/>
    <img style="flex: 0 50%;" alt="" src="https://dartagnans.fr/arch3.png"/>
    <img style="flex: 0 50%;" alt="" src="https://dartagnans.fr/arch4.png"/>
    <img style="flex: 0 50%;" alt="" src="https://dartagnans.fr/arch5.png"/>
</section>
