<div class="bg-video-container">
    <video class="video-bg" poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
        <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
        <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
    </video>
</div>
<div class="main-container">
    <section class="first-section">
        <div class="main-quote container">
            <blockquote>
                <p>
                    Nunc mattis enim ut tellus elementum sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam vestibulum morbi blandit. Cursus turpis massa tincidunt dui ut ornare?
                </p>
            </blockquote>
        </div>
    </section>
    <section id="section1">
        <div class="container">
            <div class="row">
                <h1>Campagne de financement participatif</h1>
            </div>
            <div class="row">
                <div class="column">
                    <img style="width:150px; height: auto; float: left;margin-right: 15px;" alt="" src="http://www.ifpi.org/images/portrait_placido-domingo.jpg"/>
                    <p>Viverra nibh cras pulvinar mattis nunc, sed blandit libero volutpat sed. Morbi quis commodo odio aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum posuere urna nec?
                        Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis? Urna condimentum mattis pellentesque id nibh tortor, id aliquet lectus proin nibh.
                        Maecenas sed enim ut sem viverra aliquet eget sit amet tellus cras adipiscing enim. Ut diam quam nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus risus, at ultrices!
                        Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales ut eu sem integer! Amet justo donec enim diam, vulputate ut pharetra.
                        Pellentesque sit amet, porttitor eget dolor morbi non arcu risus, quis varius quam quisque id diam vel quam elementum pulvinar etiam non quam! A erat nam at lectus urna duis.
                        Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at! Hendrerit gravida rutrum quisque non tellus orci, ac auctor augue mauris?</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container" style="text-align: center;">
            <h1 class="column"> Les ambassadeurs</h1>
            <div class="row ambasadors-row">
                <div class="column">
                    <img width=200 alt="" src="http://www.centreeuropeendemusique.fr/wp-content/uploads/2016/02/Terese-Berganza.png"/>
                    <h4>Terese Berganza</h4>
                </div>
                <div class="column">
                    <img width=200 alt="" src="http://www.centreeuropeendemusique.fr/wp-content/uploads/2016/02/Placido-Domingo.png"/>
                    <h4>Placido Domingo</h4>
                </div>
                <div class="column">
                    <img width=200 alt="" src="http://www.centreeuropeendemusique.fr/wp-content/uploads/2016/02/Nathalie-Dessay-Chanteuse.png"/>
                    <h4>Nathalie Dessay </h4>
                </div>
            </div>
            <div class="row ambasadors-row">
                <div class="column">
                    <img width=200 alt="" src="http://www.centreeuropeendemusique.fr/wp-content/uploads/2016/02/sneska-copie2.png"/>
                    <h4>Sneška Quaedvlieg-Mihailović</h4>
                </div>
                <div class="column">
                    <img width=200 alt="" src="http://www.centreeuropeendemusique.fr/wp-content/uploads/2016/02/Louisa-AnsatopoulosPF.png"/>
                    <h4>Louisa Ansatopoulos</h4>
                </div>
                <div class="column">
                    <img width=200 alt="" src="http://www.centreeuropeendemusique.fr/wp-content/uploads/2016/02/federico-mayor-zaragoza.png"/>
                    <h4>Federico Mayor Zaragoza</h4>
                </div>
            </div>
        </div>
    </section>
        <section>
        <div class="container" style="text-align: center;">
            <h1 class="column">Videos</h1>
            <div class="row ambasadors-row" style="justify-content: center;">
                <video
                    style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
                           transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);"
                    class="main-video-bg"
                    id="bgvid"
                    controls
                >
                    <source src="https://ak2.picdn.net/shutterstock/videos/4724462/preview/stock-footage-timelapse-shot-of-house-at-night.mp4" type="video/mp4">
                </video>
            </div>
            <div class="row ambasadors-row">
                <video
                    class="column column-25 main-video-bg"
                    id="bgvid"
                    playsinline
                >
                    <source
                        src="https://ak2.picdn.net/shutterstock/videos/4724462/preview/stock-footage-timelapse-shot-of-house-at-night.mp4"
                        type="video/mp4"
                    >
                </video>
                <video
                    class="column column-25 main-video-bg"
                    id="bgvid"
                    playsinline
                >
                    <source
                        src="https://ak2.picdn.net/shutterstock/videos/4724462/preview/stock-footage-timelapse-shot-of-house-at-night.mp4"
                        type="video/mp4"
                    >
                </video>
                  <video
                    class="column column-25 main-video-bg"
                    id="bgvid"
                    playsinline
                >
                    <source
                        src="https://ak2.picdn.net/shutterstock/videos/4724462/preview/stock-footage-timelapse-shot-of-house-at-night.mp4"
                        type="video/mp4"
                    >
                  </video>
                    <video
                    class="column column-25 main-video-bg"
                    id="bgvid"
                    playsinline
                >
                    <source
                        src="https://ak2.picdn.net/shutterstock/videos/4724462/preview/stock-footage-timelapse-shot-of-house-at-night.mp4"
                        type="video/mp4"
                    >
                </video>

            </div>
        </div>
    </section>
</div>
