<div class="main-container">
    <section class="section-image-about">
        <h1 class="tTheProject" style="letter-spacing:1px;">COMITE</h1>
        <!-- <h1 style="letter-spacing:1px;">Le projet du Centre Européen de Musique </h1> -->
    </section>
    <section>
        <div class="container" style="text-align: center;">
            <h1 class="tCampaignAmb column">Les ambassadeurs</h1>
            <div class="row ambasadors-row">
                <div class="column">
                    <img width=200 alt="" src="https://www.centreeuropeendemusique.fr/wp-content/uploads/2016/02/Terese-Berganza.png"/>
                    <h4>Teresa Berganza</h4>
                    <p>Mezzosoprano<br/>Présidente de l'association des Amis de Georges Bizet</p>
                </div>
                <div class="column">
                    <img id="jorge-circle" style="border-radius: 50%;filter: grayscale(100%);" width=200 alt="" src=""/>
                    <h4>Jorge Chaminé</h4>
                    <p>Président de l'association<br/>CEM</p>
                </div>
                <div class="column">
                    <img id="placido-circle" style="border-radius: 50%;filter: grayscale(100%);" width=200 alt="" src=""/>
                    <h4>Plácido Domingo</h4>
                    <p>Ténor et chef d'orchestre <br/>Président d'Europa Nostra</p>
                </div>
            </div>
        </div>
    </section>
    <section style="background: #fafafa;">
        <div class="container">
            <h1 class="tCampaignHonorCH">Comité d’Honneur</h1>
            <div class="row">
                <div class="column donorCol">
                <div class="cometee-member"><h4>Gilbert Amy</h4><p class="GilbertAmy" style="font-size:12px;">Compositeur</p></div>
                <div class="cometee-member"><h4>Daniel Barenboïm</h4><p class="DanielBarenboim" style="font-size:12px;">Pianiste et chef d'orchestre</p></div>
                <div class="cometee-member"><h4>Enrique Barón Crespo</h4><p class="EnriqueBaronCrespo" style="font-size:12px;">Président d’honneur de la «International Yehudi Menuhin Foundation», Président du Parlement Européen (1989-1992)</p></div>
                <div class="cometee-member"><h4>Teresa Berganza</h4><p style="font-size:12px;">Mezzo-soprano</p></div>
                <div class="cometee-member"><h4>Dominique Bona</h4><p class="DominiqueBona" style="font-size:12px;">Écrivain Membre de l’Académie Française</p></div>
                <div class="cometee-member"><h4>Alfred Brendel</h4><p class="AlfredBrendel" style="font-size:12px;">Pianiste</p></div>
                <div class="cometee-member"><h4>Jean Canavaggio</h4><p class="JeanCanavaggio" style="font-size:12px;">Hispaniste, ancien Directeur de la CASA Velazquez</p></div>
                <div class="cometee-member"><h4>Bénita Carteron</h4><p class="BenitaCarteron" style="font-size:12px;">Musicienne</p></div>
                <div class="cometee-member"><h4>Jorge Chaminé</h4><p class="JorgeChamine" style="font-size:12px;"> Baryton</p></div>
                <div class="cometee-member"><h4>José Luis Colomer</h4><p class="JoseLuisColomer" style="font-size:12px;"> Directeur du centro de estudios europa hispanica</p></div>
                <div class="cometee-member"><h4>Jean Daniel</h4><p class="JeanDaniel" style="font-size:12px;"> Écrivain et journaliste</p></div>
                <div class="cometee-member"><h4>Natalie Dessay</h4><p class="NatalieDessay" style="font-size:12px;">Soprano</p></div>
                <div class="cometee-member"><h4>Laurent de Gaulle</h4><p class="LaurentdeGaulle" style="font-size:12px;"> Auteur, photographe</p></div>
                <div class="cometee-member"><h4>Claude de Vulpian</h4><p class="ClaudedeVulpian" style="font-size:12px;"> Danseuse-étoile</p></div>
                <div class="cometee-member"><h4>Albina du Boisrouvray</h4><p class="AlbinaduBoisrouvray" style="font-size:12px;"> Présidente de la Fondation FXB</p></div>
                <div class="cometee-member"><h4>Plácido Domingo</h4><p class="PlacidoDomingo" style="font-size:12px;"> Ténor</p></div>
                <div class="cometee-member"><h4>Leon Fleisher</h4><p class="LeonFleisher" style="font-size:12px;"> Pianiste, chef d’orchestre</p></div>
                <div class="cometee-member"><h4>Brigitte Fossey</h4><p class="BrigitteFossey" style="font-size:12px;"> Comédienne</p></div>
                <div class="cometee-member"><h4>Polina Zinoviev</h4><p class="PolinaZinoviev" style="font-size:12px;"> Artiste-peintre</p></div>
                <div class="cometee-member"><h4>Tamara Zviguilsky</h4><p class="TamaraZviguilsky" style="font-size:12px;">Fondatrice de l'Association des amis d'Ivan Tourguéniev</p></div>
                </div>
                <div class="column donorCol">
                <div class="cometee-member"><h4>Hugues Gall</h4><p class="HuguesGall" style="font-size:12px;"> Administrateur de théâtres lyriques</p></div>
                <div class="cometee-member"><h4>Jean Guillou</h4><p class="JeanGuillou" style="font-size:12px;"> Organiste</p></div>
                <div class="cometee-member"><h4>Estelle Halevi</h4><p class="EstelleHalevi" style="font-size:12px;"> Université de Stanford (programme international)</p></div>
                <div class="cometee-member"><h4>Marilyn Horne</h4><p style="font-size:12px;"> Mezzo-soprano</p></div>
                <div class="cometee-member"><h4>Olivier Lyon-Caen</h4><p class="OlivierLyonCaen" style="font-size:12px;"> Professeur de médecine, neurologue</p></div>
                <div class="cometee-member"><h4>Cristina Hoyos</h4><p class="CristinaHoyos" style="font-size:12px;"> Danseuse flamenco</p></div>
                <div class="cometee-member"><h4>Pierre Joxe</h4><p class="PierreJoxe" style="font-size:12px;"> Ancien ministre, descendant de la famille Halévy-Bizet</p></div>
                <div class="cometee-member"><h4>Jean-Jacques Lafaye</h4><p class="JeanJacquesLafaye" style="font-size:12px;"> Essayiste</p></div>
                <div class="cometee-member"><h4>Catherine Lalumière</h4><p class="CatherineLalumiere" style="font-size:12px;"> Présidente de la Maison de l’Europe, ancien ministre, Secrétaire-générale du Conseil de l’Europe (1989-1994)</p></div>
                <div class="cometee-member"><h4>Jesús López Cobos</h4><p class="JesusLopezCobos" style="font-size:12px;"> Chef d’orchestre</p></div>
                <div class="cometee-member"><h4>Marina Mahler</h4><p class="MarinaMahler" style="font-size:12px;"> Présidente de la Fondation Gustav Mahler</p></div>
                <div class="cometee-member"><h4>Federico Mayor</h4><p class="FedericoMayor" style="font-size:12px;"> Directeur Général de l’Unesco (1987-1999), Fondation "Culture de Paix"</p></div>
                <div class="cometee-member"><h4>Zubin Mehta</h4><p class="ZubinMehta" style="font-size:12px;"> Chef d’orchestre</p></div>
                <div class="cometee-member"><h4>Giorgio Napolitano</h4><p class="GiorgioNapolitano" style="font-size:12px;"> Homme d'Etat, Président de la République italienne (2006-2015)</p></div>
                <div class="cometee-member"><h4>Javier Pérez de Cuéllar</h4><p class="JavierPerezdeCuellar" style="font-size:12px;"> Diplomate, Secrétaire-général de l’ONU (1982-1991)</p></div>
                <div class="cometee-member"><h4>Ruggero Raimondi</h4><p class="RuggeroRaimondi" style="font-size:12px;"> Basse</p></div>
                <div class="cometee-member"><h4>Baronne Carmen Thyssen-Bornemisza</h4><p class="BaronneCarmenThyssenBornemisza" style="font-size:12px;"> Présidente de la Fondation Thyssen-Bornemisza</p></div>
                <div class="cometee-member"><h4>José van Dam</h4><p class="JosevanDam" style="font-size:12px;"> Baryton-basse</p></div>
                <div class="cometee-member"><h4>Hubert Védrine</h4><p class="HubertVedrine" style="font-size:12px;">Ancien Ministre des Affaires Étrangéres</p></div>
                <div class="cometee-member"><h4>Hélène Carrère D'encausse</h4><p class="HubertVedrine" style="font-size:12px;">Ancien Ministre des Affaires Étrangéres</p></div>
                </div>
            </div>
            <h2 class="inMemoriamH" style="margin-top: 100px;"> In memoriam amicis </h2>
            <div class="row">
                <div class="column donorCol">
                <div class="cometee-member"><h4>Claudio Abbado</h4></div>
                <div class="cometee-member"><h4>Maurice Béjart</h4></div>
                <div class="cometee-member"><h4>Aldo Ciccolini</h4></div>
                <div class="cometee-member"><h4>Edmonde Charles-Roux</h4></div>
                <div class="cometee-member"><h4>Henry-Louis de La Grange</h4></div>
                <div class="cometee-member"><h4>Victoria de Los Angeles</h4></div>
                <div class="cometee-member"><h4>Paco de Lucia</h4></div>
                <div class="cometee-member"><h4>Henri Dutilleux</h4></div>
                <div class="cometee-member"><h4>Edwige Feuillère</h4></div>
                <div class="cometee-member"><h4>Dietrich Fischer-Dieskau</h4></div>
                <div class="cometee-member"><h4>Antonio Gades</h4></div>
                <div class="cometee-member"><h4>Sofía Gandarías</h4></div>
                <div class="cometee-member"><h4>Nicolaï Gedda</h4></div>
                <div class="cometee-member"><h4>Vaclav Havel</h4></div>
                </div>
                <div class="column donorCol">
                <div class="cometee-member"><h4>Stéphane Hessel</h4></div>
                <div class="cometee-member"><h4>Alfredo Kraus</h4></div>
                <div class="cometee-member"><h4>Jean Lacouture</h4></div>
                <div class="cometee-member"><h4>Elisabeth Schwarzkopf</h4></div>
                <div class="cometee-member"><h4>Yehudi Menuhin</h4></div>
                <div class="cometee-member"><h4>Elena Obraztsova</h4></div>
                <div class="cometee-member"><h4>Maïa Plissetskaïa</h4></div>
                <div class="cometee-member"><h4>Georges Prêtre</h4></div>
                <div class="cometee-member"><h4>Mstislav Rostropovitch</h4></div>
                <div class="cometee-member"><h4>Enrico di Savoia von Essen</h4></div>
                <div class="cometee-member"><h4>S.M.I. Otto von Habsburg</h4></div>
                <div class="cometee-member"><h4>Mário Soares et Maria de Jesus Barroso Soares</h4></div>
                <div class="cometee-member"><h4>Jorge Semprun</h4></div>
                </div>
            </div>
        </div>
    </section>
</div>
