<div>
    <section style="height: 200px;">
    <h2 style="text-align: center">Corporate Donations</h2>
    </section>
    <section style="overflow: hidden;">
        <img alt="" src="da286be7cbdfe24616d1b9a1bf4429a2.jpg"/ style="width: 100%">
    </section>
    <section>
        <div class="container">
            <div>
                <button>voir le nom de donateurs</button>
            </div>
        </div>
    </section>
    <section></section>
    <section></section>
</div>

