<div>
    <section style="height: 200px;">
    <h2 style="text-align: center">Donations</h2>
    </section>
    <section style="overflow: hidden;">
        <img alt="" src="da286be7cbdfe24616d1b9a1bf4429a2.jpg"/ style="width: 100%">
    </section>
    <section>
        <div class="container">
            <div>
                <div>
                    <h4>Faire un don en ligne:</h4>
                    <p>Augue lacus, viverra vitae congue eu, consequat ac felis donec et odio pellentesque diam volutpat commodo sed egestas egestas fringilla! Mus mauris vitae ultricies leo integer malesuada nunc vel risus.</p>
                </div>
                <div>
                    <h4>Par la poste:</h4>
                    <p>Malesuada nunc vel risus commodo viverra maecenas accumsan, lacus vel facilisis volutpat, est velit egestas dui, id ornare arcu odio ut? Vitae tortor condimentum lacinia quis vel eros donec ac.</p>
                </div>
                <button>voir le nom de donateurs</button>
            </div>
        </div>
    </section>
    <section></section>
    <section></section>
</div>
