<section style="margin-top: 106px;">
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
            </div>
            <div class="column">
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
            </div>
            <div class="column">
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
            </div>
            <div class="column">
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
            </div>
            <div class="column">
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
                <div class="wall-petal"></div>
            </div>
        </div>
    </div>
</section>
