<section style="margin-top: 106px;">
    <div class="container">
        <div class="row">
            <div class="column column-75">
                <h2 style="color:#d5324e;margin-bottom:100px;" >Les contributeurs du projet Carmen</h2>
            </div>
            <div class="column">
                <input class="wall-search" placeholder="recherche" type="text" />
            </div>
        </div>
        <!-- div.row>div.column*22>div.wall-petal*11 -->
        <div id="donnors-wall" class="row">
            <div id="cn1" class="column"></div>
            <div id="cn2" class="column"></div>
            <div id="cn3" class="column"></div>
            <div id="cn4" class="column"></div>
            <div id="cn5" class="column"></div>
            <div id="cn6" class="column"></div>
            <div id="cn7" class="column"></div>
            <div id="cn8" class="column"></div>
            <div id="cn9" class="column"></div>
            <div id="cn10" class="column"></div>
            <div id="cn11" class="column"></div>
            <div id="cn12" class="column"></div>
            <div id="cn13" class="column"></div>
            <div id="cn14" class="column"></div>
            <div id="cn15" class="column"></div>
            <div id="cn16" class="column"></div>
            <div id="cn17" class="column"></div>
            <div id="cn18" class="column"></div>
            <div id="cn19" class="column"></div>
            <div id="cn20" class="column"></div>
            <div id="cn21" class="column"></div>
            <div id="cn22" class="column"></div>
        </div>
    </div>
</section>
