<section class="donorsWallSection">
    <div class="container">
        <div class="row">
            <div class="column column-75">
                <h2 style="color:#d5324e;margin-bottom:100px;" >Les contributeurs du projet Carmen</h2>
            </div>
            <div class="column">
                <input id="donors-search" class="wall-search" placeholder="recherche" type="text" />
            </div>
        </div>
        <style>
         .petal-wall-column {
             display: flex;
             flex-wrap: wrap;
         }
         .wall-petal {
             /* padding: 40px 30px; */
             /* padding: 30px 25px; */
             height: 40px;
             width: auto;
             -webkit-transition: all 150ms ease-in;
             -ms-transition: all 150ms ease-in;
             -moz-transition: all 150ms ease-in;
             transition: all 150ms ease-in;
             cursor: pointer;
         }
        </style>
        <!-- div.row>div.column*22>div.wall-petal*11 -->
        <div id="donnors-wall" class="row">
            <div id="cn1" class="petal-wall-column"></div>
            <!-- <div id="cn2" class="petal-wall-column"></div>
                 <div id="cn3" class="petal-wall-column"></div>
                 <div id="cn4" class="petal-wall-column"></div>
                 <div id="cn5" class="petal-wall-column"></div>
                 <div id="cn6" class="petal-wall-column"></div>
                 <div id="cn7" class="petal-wall-column"></div>
                 <div id="cn8" class="petal-wall-column"></div>
                 <div id="cn9" class="petal-wall-column"></div>
                 <div id="cn10" class="petal-wall-column"></div>
                 <div id="cn11" class="petal-wall-column"></div>
                 <div id="cn12" class="petal-wall-column"></div>
                 <div id="cn13" class="petal-wall-column"></div>
                 <div id="cn14" class="petal-wall-column"></div>
                 <div id="cn15" class="petal-wall-column"></div>
                 <div id="cn16" class="petal-wall-column"></div>
                 <div id="cn17" class="petal-wall-column"></div>
                 <div id="cn18" class="petal-wall-column"></div>
                 <div id="cn19" class="petal-wall-column"></div>
                 <div id="cn20" class="petal-wall-column"></div>
                 <div id="cn21" class="petal-wall-column"></div>
                 <div id="cn22" class="petal-wall-column"></div> -->
        </div>
    </div>
</section>
