<section style="margin-top: 130px;" class="container">
    <h3>LE DOMAINE DES FRÊNES</h3>
    <p>
        Charmé par la magie des lieux, Jorge Chaminé, baryton, pédagogue reconnu et fondateur des Amis de Georges Bizet, organisa dès 2000 dans ce lieu, où sont réunies les maisons de Pauline Viardot et d’Ivan Tourgueniev, une série de masterclasses publiques. En 2008 il créa un festival et invita dès cette même année la grande mezzo-soprano espagnole Teresa Berganza pour des masterclasses annuelles, permettant à de jeunes chanteurs à l’orée de leur carrière de bénéficier de l’enseignement de cette immense cantatrice. Là, Berganza, mozartienne et rossinienne hors-pair, incarna également, dans les années 80 le rôle-titre de Carmen dans une interprétation légendaire aux côtés de Plácido Domingosous la direction de Claudio Abbado.
    </p>
</section>
<section class="container">
    <h3>La villa Viardot</h3>
    <div style="display: flex;">
        <p style="text-align: justify;margin-right: 30px;">
            Où vécut Pauline Viardot (1821-1910), illustre cantatrice, interprète notamment des opéras de Rossini, Berlioz, Meyerbeer et Gounod, sœur de la Malibran et grande figure de la vie culturelle de l’époque.
            Personnalité riche et charismatique, Pauline Viardot traversa tout le 19è siècle (elle connut à la fois Da Ponte - le librettiste de Mozart - et Stravinsky !) et mena une carrière prestigieuse à travers le monde. Femme de lettres et de culture, compositrice de talent, elle animait à ses domiciles, à Paris, Bougival et Baden-Baden, les salons les plus en vogue, où elle recevait des artistes et des intellectuels venus de l’Europe entière.
            Amie de Liszt, de George Sand et de Tourgueniev entre autres, elle séjournait régulièrement à Bougival, dans cette ravissante folie de style Directoire construite en 1830.
        </p>
        <img id="villa-about" alt="villa" src="" height=300 width=auto/>
    </div>
</section>
<section class="container">
    <h3>La Datcha de Tourgueniev</h3>
    <div style="display: flex;">
        <p style="text-align: jsutify;margin-right:30px;" >
            Datcha que l’écrivain russe, épris de Pauline Viardot et ami du couple Viardot, fit construire en 1874 et où il reçut notamment Flaubert, Hugo, Maupassant et Zola. Il y écrivit quelques-unes de ses œuvres les plus célèbres et y mourut, dans les bras de Pauline Viardot, en 1883.
            Transformé en musée Tourgueniev depuis 1983, ce lieu intime est encore meublé comme il l’était du vivant de son propriétaire, grâce au remarquable engagement de Tamara et Alexandre Zviguilsky, grands experts de Tourgueniev et fondateurs de l’Association des Amis d’Ivan Tourgueniev (ATVM).
        </p>
        <img id="datcha-about" alt="datcha" src="" height=300 width=auto />
    </div>
</section>

<section class="container">
    <h3>La maison de Berthe Morisot</h3>
    <p>
        Où l’artiste séjourna et vécut dans les années 1880. Elle y peignit plusieurs tableaux majeurs : la Fable, Eugène Manet et sa fille dans le jardin, Dans la Véranda, Jardin à Bougival, immortalisant ainsi la commune de Bougival, devenue l'un des lieux emblématiques de la peinture impressionniste, représentée dans de nombreux tableaux.
    </p>
</section>
