<div class="main-bg-video-container" style="display: flex;justify-content: center;align-items: center;height: 100%; background: rgba(0, 0, 0, 0.40);margin-top: 106px;">
    <div class="container main-lightbox-container">
        <h1 id="homeLightboxTitle" class="row main-lightbox-title">Sauvons la maison de Georges Bizet</h1>
        <p id="homeLightboxP" class="row main-lightbox-p">Neque aliquam vestibulum morbi blandit cursus! Blandit aliquam etiam erat velit, scelerisque in dictum non, consectetur a erat nam at lectus urna duis convallis convallis tellus, id interdum velit laoreet?</p>
        <div class="row main-lightbox-form-conatiner">
            <input class="main-lightbox-input" name="" type="email" value="Laissez votre mail"/>
            <button id="sendButton" class="main-lightbox-input-button" >Envoyer</button>
        </div>
        <div class=" row main-lightbox-buttons-container">
            <button id="donateButton">
                Faites un don
            </button>
            <a href="campaigne.html">
                <button>
                    Découvrir la campagne de financement participatif
                </button>
            </a>
        </div>
    </div>
    <video
        class="main-lightbox-video main-video-bg"
        id="bgvid"
        playsinline autoplay muted loop>
        <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <!-- <source src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/1521/8/207608536/708419805.mp4?token=1497460736-0x1f75430f684299e8b3ba53515997de4391132e2a" type="video/mp4"> -->
        <source src="https://ak2.picdn.net/shutterstock/videos/4724462/preview/stock-footage-timelapse-shot-of-house-at-night.mp4" type="video/mp4">
    </video>
</div>

<!-- poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" -->
