<section class="section-image-campagne">
    <div class="main-quote container">
        <blockquote>
            <p class="tCampaigneCarmenQuote carmen-quote">
                J’ai trouvé à Bougival un petit coin très tranquille au bord de l’eau. &nbsp;
                J’y vais terminer Carmen.
            </p>
        </blockquote>
        <p class="tCampaignGeorgesBizetQuoteName">Georges Bizet, printemps 1874</p>
    </div>
</section>
<section style="margin: 0 100px;">
    <h4>Musique</h4>
    <p id="homeInfoMusic" class="about-paragraph">
        La Musique art sacré et art de la cité, remonte aux origines de la vie et accompagne le développement de l'aventure humaine. L'étudier, c'est le chemin des plus passionnantes réalisations humaines, sociales, intellectuelles et spirituelles. De Bougival, capitale du romantisme, pour le monde entier. Du XIXème au XXIème siècles ! Elle est la racine d’un arbre qui nous élèvera à la Paix et à l’Universalité. 

    </p>
    <h4>Académie</h4>
    <p id="homeInfoAcademy" class="about-paragraph">
        « Pauline García-Viardot » (au lieu d’enseignement et pédagogie)
        Enseignement instrumental et vocal, concerts, master-classes, stages, conférences et séminaires permettront aux jeunes musiciens d'élargir les horizons professionnels et sensibles de leur vocation. Sur le socle d’une pratique musicale essentielle, les élèves auront également un large éventail de disciplines qui leur donneront accès à un approfondissement réel de leur métier, grâce aux ponts établis avec les Lettres, les Sciences et les Arts.
    </p>
    <h4>Recherche scientifique</h4>
    <p id="homeInfoResearch" class="about-paragraph">
        Les sons, la vibration, l'eau, la nature se répondent. Mais a-t-on épuisé cette magnifique connaissance ? Ateliers futuristes d'une science dont les vertus touchent à la thérapeutique médicale, à l'écologie nouvelle, à la vie urbaine, aux mathématiques et aux technologies numériques, le CEM inaugurera, également, un Laboratoire de recherche scientifique consacré au « Cerveau et la Musique ». 
    </p>
    <h4>Culture et Tourisme</h4>
    <p id="homeInfoCulture" class="about-paragraph">
        Des manifestations pluridisciplinaires souligneront le lien magique de la musique avec les autres formes d'art, dans des lieux remplis d'histoire et de légende, dont la peinture impressionniste fit son temple naturel, pour réinventer notre regard sur le monde. Bougival et ses environs immédiats redeviendront le centre rayonnant d'un Romantisme si nécessaire à la sensibilité des vivants au XXIe siècle. Un Auditorium « Georges Bizet » sera la scène sur Seine de ce message, avec la création entre autres d’un Festival « Carmen » et d’une saison de concerts. Un nouveau Salzbourg français, c'est notre rêve, c'est notre ambition."
    </p>   
</section>
