<div id="home-video-m-container" class="main-bg-video-container">
    <svg id="vol-off" style="height: 67px;position: absolute;top: 160px;fill: rgba(169, 169, 169, 0.53);stroke: rgba(169, 169, 169, 0.53);width: 67px;right: 20px;" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xml:space="preserve" version="1.0" id="layer1" width="400pt" height="400pt" viewBox="0 0 75 75" inkscape:version="0.48.3.1 r9886" sodipodi:docname="Mute_Icon.svg"><defs id="defs3007"/>
            <g id="g1"><polygon id="polygon1" points="39.389,13.769 22.235,28.606 6,28.606 6,47.699 21.989,47.699 39.389,62.75 39.389,13.769" style="stroke-width:5;stroke-linejoin:round;"/>
<path id="path3003" d="M 48.651772,50.269646 69.395223,25.971024" style="fill:none;stroke-width:5;stroke-linecap:round" inkscape:connector-curvature="0" sodipodi:nodetypes="cc"/>
<path id="path3003-1" d="M 69.395223,50.269646 48.651772,25.971024" style="fill:none;stroke-width:5;stroke-linecap:round" inkscape:connector-curvature="0" sodipodi:nodetypes="cc"/></g>
    </svg>
    
    <svg id="vol-on" style="display:none;height: 67px;position: absolute;top: 160px;fill: rgba(169, 169, 169, 0.53);stroke: rgba(169, 169, 169, 0.53);width: 67px;right: 20px;" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://web.resource.org/cc/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.0" id="layer1" width="400pt" height="400pt" viewBox="0 0 75 75"><metadata id="metadata1"><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/></cc:Work></rdf:RDF></metadata><g id="g1"><polygon id="polygon1" points="39.389,13.769 22.235,28.606 6,28.606 6,47.699 21.989,47.699 39.389,62.75 39.389,13.769" style="stroke-width:5;stroke-linejoin:round;"/><path id="path1" d="M 48.128,49.03 C 50.057,45.934 51.19,42.291 51.19,38.377 C 51.19,34.399 50.026,30.703 48.043,27.577" style="fill:none;stroke-width:5;stroke-linecap:round"/>
                    <path id="path2" d="M 55.082,20.537 C 58.777,25.523 60.966,31.694 60.966,38.377 C 60.966,44.998 58.815,51.115 55.178,56.076" style="fill:none;stroke-width:5;stroke-linecap:round"/>
                    <path id="path1" d="M 61.71,62.611 C 66.977,55.945 70.128,47.531 70.128,38.378 C 70.128,29.161 66.936,20.696 61.609,14.01" style="fill:none;stroke-width:5;stroke-linecap:round"/>
                </g>
                </svg>
    <div class="container main-lightbox-container">
        <h2 class="main-lightbox-title">Sauvons la maison de Georges Bizet pour créer le future Centre Européen de Musique</h2>
        <p style="text-align: center;" class="row main-lightbox-p">
            <h4 style="color: white;text-align: center;">Campagne internationale de financement participatif</h4>
        </p>
        <div id="videoPopup" style="position: absolute;top: 132px;left: 0;right: 0;bottom: 0;display:none;z-index: 1000;">
            <iframe style="height:100%; width: 100%;" src="https://www.youtube.com/embed/IX64MBsc5s8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row main-lightbox-buttons-container">
            <button class="tWatchVideoButton" onclick="document.getElementById('videoPopup').style.display = 'inline'">
                Regarder la vidéo
            </button>
            <a href="https://dartagnans.fr/carmen/campaigne.html">
                <button class="tDiscoverProject">
                    Découvrir le projet
                </button>
            </a>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <a class="discover-link" href="https://dartagnans.fr/fr/projects/carmen-la-maison-de-georges-bizet/campaign">
                <button class="tDonateButton home-donate-big-btn">
                    Faites un don
                </button>
            </a>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;    position: absolute;left: 0;right: 0;bottom: 1%;"> 
            <a href="https://dartagnans.fr/"><img alt="" src="dart_white_logo.png" height=36 /></a>
        </div>
    </div>
    <video
        poster="home_video_cover.jpg"
        class="main-lightbox-video main-video-bg"
        id="bgvid"
        playsinline autoplay muted loop>
        <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <!-- <source src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/1521/8/207608536/708419805.mp4?token=1497460736-0x1f75430f684299e8b3ba53515997de4391132e2a" type="video/mp4"> -->
        <source src="https://dartagnans.fr/carmen_home.m4v" type="video/mp4">
    </video>
</div>
<section>
    <div style="display: flex; margin: 0 30px; justify-content: space-between;">
        <div style="width: 45%;">
            <h4>QU'EST CE QUE LE CENTRE EUROPÉEN DE MUSIQUE?</h4>
            <p style="text-align: justify;">
                Sous la Colline des Impressionnistes, les maisons du Génie : celle du compositeur français Georges Bizet, celle de la cantatrice espagnole Pauline García-Viardot, celle de l'écrivain russe Ivan Tourgueniev. Ensemble ils ont enfanté des grandes heures du romantisme musical et littéraire du XIXe siècle conquérant des cœurs, dont l'opéra "Carmen" est devenu l'emblème insurpassable.
                C'est là, dans ces lieux magiques, que l'artiste lyrique Jorge Chaminé a conçu pour notre XXIe siècle un Centre Européen de Musique visionnaire et la Rose des Vents d'une redécouverte pédagogique, scientifique, médicale, écologique, Humaniste en un mot, des grands secrets de la musique, amie de l'harmonie universelle.
                Près de ces arbres déjà légendaires, au bord d'une Seine propice aux inspirations, tous les arts célèbreront leur union multidisciplinaire avec les portées musicales, langue sans frontières qui a tant à nous apporter. En sauvant la Maison de Bizet, vous ouvrirez les portes d'un nouveau rêve pour l'Esprit de la Musique.
            </p>
            <button style="background: white; color: black; border: black 1px solid;"> <a style="color: inherit;" href="home_info.html#homeInfoMusic">En savoir plus</a> </button>
        </div>
        <div style="display: flex;flex-wrap: wrap; width: 50%;">
            <div style="padding:30px; background: #8f1a24;display:flex;align-items: center;justify-content: center;width:47%; height: 120px; margin:5px;">
                <a href="">
                    <h3 style="text-align: center;margin-bottom: 0;color: white;display:flex;align-items: center;justify-content: center;">
                        Musique
                    </h3>
                </a>
            </div>
            <div style="padding:30px; background: #8f1a24;display:flex;align-items: center;justify-content: center;flex: 1; height: 120px; margin:5px;">
                <a href="">
                    <h3 style="text-align: center;margin-bottom: 0;color: white;display:flex;align-items: center;justify-content: center;">
                        Enseignement & Pédagogie
                    </h3>
                </a>
            </div>
            <div style="padding:30px; background: #8f1a24;display:flex;align-items: center;justify-content: center;width:47%; height: 120px; margin:5px;">
                <a href="">
                    <h3 style="text-align: center;margin-bottom: 0;color: white;display:flex;align-items: center;justify-content: center;">
                        Recherche Scientifique
                    </h3>
                </a>
            </div>
            <div style="padding:30px; background: #8f1a24;display:flex;align-items: center;justify-content: center; flex: 1; height: 120px; margin:5px;">
                <a href="">
                    <h3 style="text-align: center;margin-bottom: 0;color: white;display:flex;align-items: center;justify-content: center;">
                        Culture & Tourisme
                    </h3>
                </a>
            </div>
        </div>
    </div>
</section>

<section style="background: #f3f2f2;">
    <div class="container">
        <h4>UN PROJET EUROPÉEN, PLACÉ SOUS LE HAUT-PATRONAGE D'EUROPA NOSTRA PRÉSIDÉE PAR PLACIDO DOMINGO</h4>
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 230px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">Musique</h4>
                <p style="flex: 1;">
                    la musique est au couer du projet du CEM et symbolisée par notre première grande action:
                    sauver et restaurer la maison de Georges Bizet, génial créateur de l'opéra Carmen. 
                </p>
                <button style="background: white; color: black; border: black 1px solid;">
                    <a style="color: inherit;" href="home_info.html#homeInfoMusic">En savoir plus</a>
                </button>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 230px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">Enseignement & pédagogie</h4>
                <p style="flex: 1;">
                    Un lieu de formation des artistes autour de la musiaue de la fin du 18e au début du 20e siècle.
                    Un lieu d'étude pour d'autres disciplines en relation avec a musique.
                </p>
                  <button style="background: white; color: black; border: black 1px solid;">
                      <a style="color: inherit;" href="">En savoir plus</a>
                </button>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 230px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">Recherche scientifique</h4>
                <p style="flex: 1;">
                    Un lieu de recherche sur la musique et sur les domaines en relation avec celle-ci:
                    littérature, neurologie, orthophonie, autisme...
                </p>
                  <button style="background: white; color: black; border: black 1px solid;">
                    En savoir plus
                </button>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 230px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">
                    Culture & tourisme
                </h4>
                <p style="flex: 1;">
                    A bougival, les grands esprits et créateurs de génie ont puisé leur inspiration.
                    Leur présence est ajourd'hui symbolisé par la maison de Georges Bizet, le Domaine des Frênes
                    et la coline des impresionistes.
                </p>
                  <button style="background: white; color: black; border: black 1px solid;">
                      <a style="color: inherit;" href="">En savoir plus</a>
                </button>
            </div>
        </div>
    </div>
</section>
