<section class="section-image-campagne">
    <div class="main-quote container">
        <blockquote>
            <p class="tCampaigneCarmenQuote carmen-quote">
                J’ai trouvé à Bougival un petit coin très tranquille au bord de l’eau. &nbsp;
                J’y vais terminer Carmen.
            </p>
        </blockquote>
        <p class="tCampaignGeorgesBizetQuoteName">Georges Bizet, printemps 1874</p>
    </div>
</section>
<section style="margin: 0 100px;">
    <h3>La maison de Georges Bizet</h3>
    <p style="text-align: justify;">
        Dans laquelle le compositeur écrivit en partie et orchestra entièrement son œuvre la plus connue, Carmen, au cours de l’année 1874. Créée en 1875 à l’Opéra-Comique à Paris, trois mois avant la disparition du compositeur, Carmen deviendra un des opéras les plus célèbres et les plus représentés au monde. 
        Ouverte ponctuellement au public depuis 2010, la maison de Georges Bizet invite les visiteurs à une véritable plongée dans une atmosphère hors du temps qui donne une idée précise des lieux d’habitation et de création du compositeur, en plein âge romantique. 
        Bizet était par ailleurs très proche de Pauline Viardot, dont il fut voisin à Paris et à Bougival, qui défendit avec ardeur la partition de Carmen suite à la mort du compositeur. Comme Brahms, puis, quelques années plus tard, Tchaïkovski, Nietzsche, Wagner ou Mahler, elle contribua ainsi à la reconnaissance de Carmen comme un des plus grands chefs-d’œuvre de l’art lyrique.
        Nous nous devons de saluer la famille Lemoine-Pellistrandi, d’avoir conservé et réuni la mémoire vivante de Bizet ainsi que notre reconnaissance devant leur profond souhait que ce soit le CEM, par cette campagne de financement participatif, qui récupère cette Maison pour l’inscrire en un lieu de souvenir et d’avenir, un lieu de mémoire et de création du XXIème siècle. 
    </p>
</section>
