<section class="section-image-campagne">
    <div class="main-quote container">
        <blockquote>
            <p class="tCampaigneCarmenQuote carmen-quote">
                J’ai trouvé à Bougival un petit coin très tranquille au bord de l’eau. &nbsp;
                J’y vais terminer Carmen.
            </p>
        </blockquote>
        <p class="tCampaignGeorgesBizetQuoteName">Georges Bizet, printemps 1874</p>
    </div>
</section>
<section>
    <div style="display: flex; justify-content: space-between; margin: 0 30px;">
        <div style="flex: 1 40%">
            <h4>UN PROJET AMBITIEUX, EUROPÉEN ET ÉVOLUTIF</h4>
            <p style="text-align: justify;margin-right: 60px;">
                Le Centre Européen de Musique (CEM), lieu vivant,
                moderne, tourné vers l'avenir et porteur des valeurs humanistes
                emblématiques de la culture européenne.
                Ancré dans une des périodes artistiques les plus
                fécondes de l'histoire de l'art, le CEM sera à la fois un
                lieu de patrimoine célebrant les artistes, de l'epoque
                romantique mais également une académie musicale
                accueillant de jeunes artistes en formation.
            </p>
            <button style="background: white; color: black; border: black 1px solid;">
                En savoir plus
            </button>
        </div>
        <div style="flex: 1 30%; display: flex; align-items: space-between;justify-content: center;flex-wrap: wrap;">
            <img style="flex: 1 210px;margin: 10px 10px;" src="http://via.placeholder.com/200x100">
            <img style="flex: 1 210px;margin: 10px 10px;" src="http://via.placeholder.com/200x100">
            <img style="flex: 1 210px;margin: 10px 10px;" src="http://via.placeholder.com/200x100">
            <img style="flex: 1 210px;margin: 10px 10px;" src="http://via.placeholder.com/200x100">
        </div>
    </div>
</section>
<section style="background: #f3f2f2;">
    <h4 style="text-align: center;" >UN PROJET EUROPÉEN, PLACÉ SOUS LE HAUT-PATRONAGE D'EUROPA NOSTRA PRÉSIDÉE PAR PLACIDO DOMINGO</h4>
        <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 230px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">Musique</h4>
                <p style="flex: 1;">
                    La musique est au coeur du projet du CEM et symbolisée par notre première grande action jj:
                    sauver et restaurer la maison de Georges Bizet, génial créateur de l'opéra Carmen. 
                </p>
                <a style="display: flex;justify-content:center;" href="home_info.html">
                    <button style="background: white; color: black; border: black 1px solid;">
                        En savoir plus
                    </button>
                </a>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 230px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">Enseignement & pédagogie</h4>
                <p style="flex: 1;">
                    Un lieu de formation des artistes autour de la musique de la fin du 18e au début du 20e siècle.
                    Un lieu d'étude pour d'autres disciplines en relation avec la musique.
                </p>
                <a style="display: flex;justify-content:center;" href="home_info.html#homeInfoMusic">
                    <button style="background: white; color: black; border: black 1px solid;">
                        En savoir plus
                    </button>
                </a>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 230px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">
                    Recherche scientifique
                </h4>
                <p style="flex: 1;">
                    Un lieu de recherche sur la musique et sur les domaines en relation avec celle-ci :
                    littérature, neurologie, orthophonie, autisme...
                </p>
                <a style="display: flex;justify-content:center;" href="home_info.html#homeInfoResearch">
                    <button style="background: white; color: black; border: black 1px solid;">
                        En savoir plus
                    </button>
                </a>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 230px; background-color: white; padding: 15px; height: 400px;">
                <h4 style="margin-bottom: 0; flex: 0 80px;">
                    Culture & tourisme
                </h4>
                <p style="flex: 1;">
                    A Bougival, les grands esprits et créateurs de génie ont puisé leurs inspiration.
                    Leurs présence est ajourd'hui symbolisé par la maison de Georges Bizet, le Domaine des Frênes
                    et la coline des impresionistes.
                </p>
                <a style="display: flex;justify-content:center;" href="home_info.html#homeInfoResearch">
                    <button style="background: white; color: black; border: black 1px solid;">
                        En savoir plus
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
