<section class="section-image-campagne">
    <div class="main-quote container">
        <blockquote>
            <p class="tCampaigneCarmenQuote carmen-quote">
                J’ai trouvé à Bougival un petit coin très tranquille au bord de l’eau. &nbsp;
                J’y vais terminer Carmen.
            </p>
        </blockquote>
        <p class="tCampaignGeorgesBizetQuoteName">Georges Bizet, printemps 1874</p>
    </div>
</section>
<section>
    <div style="display: flex; justify-content: space-between; margin: 0 30px;">
        <div style="flex: 1 40%">
            <h4>UN PROJET AMBITIEUX, EUROPÉEN ET ÉVOLUTIF</h4>
            <p style="text-align: justify;margin-right: 60px;">
                Le Centre Européen de Musique (CEM), lieu vivant,
                moderne, tourné vers l'avenir et porteur des valeurs humanistes
                emblématiques de la culture européenne.
                Ancré dans une des périodes artistiques les plus
                fécondes de l'histoire de l'art, le CEM sera à la fois un
                lieu de patrimoine célébrant les artistes, de l'époque
                romantique mais également une académie musicale
                accueillant de jeunes artistes en formation.
            </p>
            <a style="display: flex;" href="home_info.html">
                <button style="background: white; color: black; border: black 1px solid;">
                    En savoir plus
                </button>
            </a>
        </div>
        <div style="display: flex;flex-wrap: wrap; width: 50%;align-content: start;margin-top:50px;">
            <a style="padding:30px; background: #8f1a24;display:flex;align-items: center;justify-content: center;width:47%; height: 120px; margin:5px;" href="about.html">
                    
                <h3 style="text-align: center;margin-bottom: 0;color: white;display:flex;align-items: center;justify-content: center;">
                   La maison de Georges Bizet
                </h3>
            </a>
            <a
                style="padding:30px; background: #8f1a24;display:flex;align-items: center;justify-content: center;flex: 1; height: 120px; margin:5px;"
                href="architectural_project.html"
            >
                    <h3 style="text-align: center;margin-bottom: 0;color: white;display:flex;align-items: center;justify-content: center;">
                        Projet architectural
                    </h3>
            </a>
            <a
                style="padding:30px; background: #8f1a24;display:flex;align-items: center;justify-content: center;width:47%; height: 120px; margin:5px;"
                href="frenes.html"
            >
                <h3 style="text-align: center;margin-bottom: 0;color: white;display:flex;align-items: center;justify-content: center;">
                    Le Domaine des Frênes
                </h3>
            </a>
            <a
                style="padding:30px; background: #8f1a24;display:flex;align-items: center;justify-content: center; flex: 1; height: 120px; margin:5px;"
                href="home_info.html"
            >                
                <h3 style="text-align: center;margin-bottom: 0;color: white;display:flex;align-items: center;justify-content: center;">
                    Les disciplines
                </h3>   
            </a>
        </div>
    </div>
</section>
<section style="background: #f3f2f2;">
    <h4 style="text-align: center;" >UN PROJET EUROPÉEN, PLACÉ SOUS LE HAUT-PATRONAGE D'EUROPA NOSTRA PRÉSIDÉE PAR PLACIDO DOMINGO</h4>
        <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 230px; background-color: white; padding: 15px; height: 400px;">
                <div style="display: flex; flex: 0 80px;justify-content:space-around;padding: 10px;">
                    <img style="" alt="" height=30 src="https://dartagnans.fr/musical-note.svg"/>
                    <h4 style="margin-bottom: 0;">Musique</h4>
                </div>
                <p style="flex: 1;">
                    La musique est au coeur du projet du CEM et symbolisée par notre première grande action :
                    sauver et restaurer la maison de Georges Bizet, génial créateur de l'opéra Carmen. 
                </p>
                <a style="display: flex;justify-content:center;" href="home_info.html">
                    <button style="background: white; color: black; border: black 1px solid;">
                        En savoir plus
                    </button>
                </a>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 230px; background-color: white; padding: 15px; height: 400px;">
                <div style="display: flex; flex: 0 80px;justify-content:space-around;padding: 2px;">
                    <img style="margin-right:20px;" alt="" height=35 src="https://dartagnans.fr/graduate-cap.svg"/>
                    <h4 style="margin-bottom: 0;">Enseignement & pédagogie</h4>
                </div>
                <p style="flex: 1;">
                    Un lieu de formation des artistes autour de la musique de la fin du XVIIIe au début du XXe siècle.
                    Un lieu d'étude pour d'autres disciplines en relation avec la musique.
                </p>
                <a style="display: flex;justify-content:center;" href="home_info.html#homeInfoMusic">
                    <button style="background: white; color: black; border: black 1px solid;">
                        En savoir plus
                    </button>
                </a>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 230px; background-color: white; padding: 15px; height: 400px;">
                <div style="display: flex; flex: 0 80px;justify-content:space-around;padding: 2px;">
                    <img style="margin-right:20px;" alt="" height=35 src="https://dartagnans.fr/heart-research.svg"/>
                    <h4 style="margin-bottom: 0;">
                        Recherche scientifique
                    </h4>
                </div>
                <p style="flex: 1;">
                    Un lieu de recherche sur la musique et sur les domaines en relation avec celle-ci :
                    littérature, neurologie, orthophonie, autisme...
                </p>
                <a style="display: flex;justify-content:center;" href="home_info.html#homeInfoResearch">
                    <button style="background: white; color: black; border: black 1px solid;">
                        En savoir plus
                    </button>
                </a>
            </div>
            <div style="display: flex;flex-direction: column; justify-content: space-between; width: 230px; background-color: white; padding: 15px; height: 400px;">
                <div style="display: flex; flex: 0 80px;justify-content:space-around;padding: 2px;">
                    <img style="margin-right:20px;" alt="" height=35 src="https://dartagnans.fr/location-pointer.svg"/>
                    <h4 style="margin-bottom: 0;">
                        Culture & tourisme
                    </h4>
                </div>
                <p style="flex: 1;">
                    A Bougival, les grands esprits et créateurs de génie ont puisé leurs inspirations.
                    Leur présence est ajourd'hui symbolisée par la maison de Georges Bizet, le Domaine des Frênes
                    et la Colline des impressionnistes.
                </p>
                <a style="display: flex;justify-content:center;" href="home_info.html#homeInfoResearch">
                    <button style="background: white; color: black; border: black 1px solid;">
                        En savoir plus
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
