<section class="section-image-campagne">
    <div class="main-quote container">
        <blockquote>
            <p class="tCampaigneCarmenQuote carmen-quote">
                J’ai trouvé à Bougival un petit coin très tranquille au bord de l’eau. &nbsp;
                J’y vais terminer Carmen.
            </p>
        </blockquote>
        <p class="tCampaignGeorgesBizetQuoteName">Georges Bizet, printemps 1874</p>
    </div>
</section>
<section>
    <div class="container">
    <h3>Soutenir notre action</h3>
    <p style="text-align: jsutify;">
        Votre engagement s'inscrit dans une démarche européenne et profondément humaniste.
        Par votre soutien, le projet ambitieux du centre Européen de Musique pourra voir le jour.
        Grâce à vous, nous pourrons soutenir la préservation du patrimoine et la maison de Georges Bizet,
        promovoir la musique, enseigner, diffuser la culture, ouvrir un pôle de recherches scientifiques et dynamiser le tourisme à Bougival.
    </p>
    <ul>
        <h3>Pour soutenir notre action:</h3>
        <li>Contactez-nous: carmen@dartagnans.fr</li>
        <li>Faistes un don par carte bleue ou virement sur
            <a href="https://dartagnans.fr/fr/projects/carmen-la-maison-de-georges-bizet/campaign">
                Dartagnans
            </a>
        </li>
        <li>
            Envoyez nous un chèque à l'ordre de l'Association du Centre Européen de Musique à l'adresse suivante:
            <br/> Dartagnans 14 rue Crespin du Gast 75011 Paris
        </li>
    </ul>
    </div>
</section>
