<footer>
    <div style="background-color: black; height: 100px; color: white;display: flex;justify-content: flex-start;align-items: center;">
        <h7 style="text-align: left;color: #666;padding-bottom: 10px;float: left;">Dartagnans - All rights reserved © 2017</h7>
    </div>
</footer>
