<footer id="footer3" style="background-color: white;color: #3c3c3c;padding: 30px 0;position: relative;border-top: 14px solid #8e1924;">
    <div class="container">
        <div class="row">
            <div class="column column-70">
                <h5 class="column" style="letter-spacing: 1px;">Contact</h5>
                <h5 class="column" style="letter-spacing: 1px;">Presse</h5>
                <h5 class="column" style="letter-spacing: 1px;">Partenaires</h5>
            </div>
        </div>
    </div>
    <p class="" style="position: absolute;margin: 0;right: 20px;color:#444444;">
            Dartagnans - All rights reserved © 2017
        </p>
</footer>
