<footer id="footer3" style="background-color: black; color: white;padding:30px 0;">
    <div class="container">
        <div class="row">
            <div class="column column-50">
                <h3 class="column" style="letter-spacing: 1px;">contact</h3>
                <p class="column">carmen@dartagnans.fr</p>
                <p class="column">Président CEM</p>
                <p class="column">Jorge Chaminé</p>
            </div>
        </div>
        <p class="row" style="text-align: left;color: #666;padding-bottom: 10px;float: left;">Dartagnans - All rights reserved © 2017</p>
    </div>
</footer>
