<footer id="footer3" style="background-color: black; color: white;padding:30px 0;position: relative;">
    <div class="container">
        <div class="row">
            <div class="column column-50">
                <h3 class="column" style="letter-spacing: 1px;">contact</h3>
                <p class="column">Jorge Chaminé</p>
                <p class="column">Président CEM</p>
                <p class="column">carmen@dartagnans.fr</p>
            </div>
        </div>
    </div>
            <p class="" style="position: absolute;margin: 0;left: 0;">
            Dartagnans - All rights reserved © 2017
        </p>
</footer>
