<header class="top-header">
  
  <a href="/"><img class="top-menu-logo" alt="" src="https://edificewilderespacedanse.com/app/uploads/2015/05/logo4.png"/></a>
  <nav class="top-nav">
    <ul class="top-menu">
      <li style="margin-bottom: 0;"><a href="#" id="aboutMenuLink">À propos</a></li>
      <li style="margin-bottom: 0;"><a href="campaigne.html" id="campaignMenuLink">Campagne de financement</a></li>
      <li style="margin-bottom: 0;"><a href="corporate-donation.html" id="corpDonMenuLink">Don corporatif</a></li>
      <li style="margin-bottom: 0; padding: 0px 10px; height: 38px"><a href="donation.html"><button id="donateButton">Faites un don</button></a></li>
      <li style="margin-bottom: 0; padding: 0px 10px; height: 38px"><a href="#"><button id="donationWallButton">Mur des donateurs</button></a></li>
      <li style="margin-bottom: 0;"><a href="#" id='changeLangButton' onclick="window.myChangeLang()">English</a></li>
    </ul>
  </nav>
  
</header>
